@page "/divisionInfo/{Id:int}"
@using TestTask.Shared
@using TestTask.Client.Services
@using System.Diagnostics
@using Blazored.SessionStorage
@inject StateMachine _stateMachine
@inject HttpClient _http
@inject EventAggregator _eventAggregator
@inject NavigationManager _navigationManager
@inject ISyncSessionStorageService _storageService
<h3 class="info__title">Информация о подразделении</h3>

<div>
    <label for="title">Наименование</label>
    <input id="title" placeholder="Наименование" @bind-value="@_division.Title" @oninput="SaveDivision" />
</div>
<div>
    <label for="date">Дата создания</label>
    <input type="date" id="date" placeholder="Выберите дату" @bind-value="@_division.CreateDate" @oninput="SaveDivision" />
</div>
<div>
    <label for="parent">Родительское подразделение</label>
    <select id="parent" @bind="DivisionId">
        @foreach (var divisionFromData in _divisions)
        {
            <option value="@divisionFromData.Id">@divisionFromData.Title</option>
        }
    </select>
</div>
<div>
    <label for="desc">Описание</label>
    <textarea id="desc" @bind="_division.Description" @oninput="(e) => { _division.Description = (string)e.Value; SaveDivision(); }"></textarea>
</div>
<div>
    <div>
        <label for="child">Вложенные подразделения</label>

        <select id="child" @bind="_subDivisionId">
            @foreach (var divisionFromData in _divisionsToAdd)
            {
                <option value="@divisionFromData.Id">@divisionFromData.Title</option>
            }
        </select>
        <button @onclick="AddSubDivision" class="main--btn inverted">Добавить подразделение</button>
    </div>
    <div class="subdiv__wrapper">
        @if (_subDivisionsToAdd != null)
        {
            @foreach (var subDivision in _subDivisionsToAdd)
            {
                <div class="subdiv__item">
                    <div>
                        <span>@subDivision.Title</span>
                        <span>@subDivision.CreateDate.ToShortDateString()</span>
                    </div>

                    <button @onclick="() => DeleteSubDivision(subDivision)" class="main--btn inverted">Удалить</button>
                </div>
            }
        }
    </div>
</div>

<button @onclick="async () => await ApplyButton_OnClick()" class="main--btn inverted">Принять</button>

@code {
    [Parameter]
    public int Id { get; set; }

    private Division _division;
    private int? _subDivisionId;
    private List<Division> _divisions;
    private List<Division> _divisionsToAdd;
    private List<Division> _subDivisionsToAdd = new List<Division>();
    private int _divisionId;

    public int DivisionId
    {
        get => _divisionId;
        set
        {
            _divisionId = value;
            _division.DivisionId = value;
            _storageService.SetItem("currentDivisionIdFromList", value);
            SaveDivision();
        }
    }

    protected override void OnParametersSet()
    {
        _divisions = _divisionsToAdd = _subDivisionsToAdd = new List<Division>();
        InitializeData();
        StateHasChanged();
    }

    private void InitializeData()
    {
        var divisionFromSession = GetDivisionFromSession();
        if (Program.AppData.CurrentDivision == null && divisionFromSession != null)
        {
            _division = divisionFromSession;
            GetDivisions();
            FillSubDivisions();
        }
        else
        {
            _division = _stateMachine.CurrentState is StateMachine.State.Add
                ? new Division()
                : Program.AppData.CurrentDivision;
            _storageService.SetItem("currentDivision", _division);
        }

        if (Program.AppData.CurrentDivisionFromList == null)
        {
            DivisionId = _storageService.GetItem<int>("currentDivisionIdFromList");
        }
        else
        {
            DivisionId = Program.AppData.CurrentDivisionFromList.Id;
            _storageService.SetItem("currentDivisionIdFromList", DivisionId);
        }

        GetDivisions();

        if (_stateMachine.CurrentState is StateMachine.State.Change && _division.SubDivisions != null)
            FillSubDivisions();
    }

    private Division GetDivisionFromSession()
    {
        try
        {
            return _storageService.GetItem<Division>("currentDivision");

        }
        catch
        {
            return null;
        }
    }

    private void GetDivisions()
    {
        var divisionsList = Program.AppData.Divisions.Where(d => d.Id != _division.Id).ToList();
        divisionsList.ForEach(d =>
        {
            d.ParentDivision = null;
            d.Employees = new HashSet<Employee>();
            d.SubDivisions = new HashSet<Division>();
        });
        _divisionsToAdd = divisionsList;
        divisionsList.Insert(0, new Division {Title = "Нет"});
        _divisions = divisionsList.ToList();
    }

    /// <summary>
    /// Заполняет список вложенных подразделений
    /// </summary>
    private void FillSubDivisions()
    {
        var subDivisions = _division.SubDivisions.ToList();

        foreach (var subDivision in subDivisions)
        {
            var subDivisionFromList = _divisionsToAdd.FirstOrDefault(d => d.Id == subDivision.Id);
            _divisions.Remove(subDivisionFromList);
            _divisionsToAdd.Remove(subDivisionFromList);
            _subDivisionsToAdd.Add(subDivisionFromList);
        }
    }

    /// <summary>
    /// Добавляет подразделение в список вложенных подразделений
    /// </summary>
    private void AddSubDivision()
    {
        var divisionToAdd = _divisionsToAdd.FirstOrDefault(d => d.Id == _subDivisionId);

        if (divisionToAdd is null)
            return;

        _divisions.Remove(divisionToAdd);
        _divisionsToAdd.Remove(divisionToAdd);
        _subDivisionsToAdd.Add(divisionToAdd);

        _division.SubDivisions = _subDivisionsToAdd;

        _subDivisionId = null;
        SaveDivision();
    }

    private async Task ApplyButton_OnClick()
    {
        if (string.IsNullOrWhiteSpace(_division.Title))
            return;

        _division.ParentDivision = null;
        _division.Employees = new HashSet<Employee>();
        _division.SubDivisions = _subDivisionsToAdd;

        var response = _stateMachine.CurrentState is StateMachine.State.Change
            ? await PutDivisionAsync()
            : await PostDivisionAsync();

        if (!response.IsSuccessStatusCode)
        {
            Debug.WriteLine(await response.Content.ReadAsStringAsync());
            return;
        }

        _eventAggregator.InvokeDivisionCollectionChanged();

        _navigationManager.NavigateTo("");
    }

    private async Task<HttpResponseMessage> PutDivisionAsync()
    {
        var response = await _http.PutAsJsonAsync("divisions", _division);
        return response;
    }

    private async Task<HttpResponseMessage> PostDivisionAsync()
    {
        var response = await _http.PostAsJsonAsync("divisions", _division);

        return response;
    }

    private void DeleteSubDivision(Division subDivision)
    {
        _subDivisionsToAdd.Remove(subDivision);
        _divisionsToAdd.Add(subDivision);

        _division.SubDivisions = _subDivisionsToAdd;
        _storageService.SetItem("currentDivision", _division);
    }

    private void SaveDivision()
    {
        _storageService.Clear();
        _storageService.SetItem("currentDivision", _division);
    }

}