@page "/employeeInfo"
@using TestTask.Shared
@using TestTask.Client.Services
@using System.Diagnostics
@using Blazored.SessionStorage
@inject HttpClient _http
@inject NavigationManager _navigationManager
@inject StateMachine _stateMachine
@inject ISyncSessionStorageService _storageService
<h3 class="info__title">Информация о сотруднике</h3>

<div>
    <label for="lastname">Фамилия</label>
    <input id="lastname" placeholder="Фамилия" @bind="@_employee.LastName" @oninput="(e) => { _employee.LastName = (string)e.Value; SaveEmployee(); }"/>
</div>
<div>
    <label for="firstname">Имя</label>
    <input id="firstname" placeholder="Имя" @bind="@_employee.FirstName" @oninput="(e) => { _employee.FirstName = (string)e.Value; SaveEmployee(); }"/>
</div>
<div>
    <label for="middlename">Отчество</label>
    <input id="middlename" placeholder="Отчество" @bind="@_employee.MiddleName" @oninput="(e) => { _employee.MiddleName = (string)e.Value; SaveEmployee(); }"/>
</div>
<div>
    <label for="birth">Дата рождения</label>
    <input id="birth" type="date" placeholder="Выберите дату" @bind="@_employee.DateOfBirth" @oninput="(e) => { _employee.DateOfBirth = DateTime.Parse((string)e.Value); SaveEmployee(); }"/>
</div>
<div>
    <label for="gender">Пол</label>
    <select id="gender" @bind="_employee.GenderId">
        @foreach (var gender in _genders)
        {
            <option value="@gender.Id">@gender.Title</option>
        }
    </select>
</div>
<div>
    <input type="checkbox" @bind="@_employee.HasDriverLicense" @oninput="(e) => { _employee.HasDriverLicense = (bool)e.Value; SaveEmployee(); }"/> Есть водительские права
</div>
<div>
    <label for="division">Подразделение</label>
    <select id="division" @bind="DivisionId"
            class="custom-select-sm">
        @foreach (var division in _divisions)
        {
            <option value="@division.Id">@division.Title</option>
        }
    </select>
</div>
<div hidden="@_isErrorHidden">
    @_errorText
</div>

<button @onclick="async () => await Apply()" class="main--btn inverted">Применить</button>

@code {
    private Employee _employee;
    private IEnumerable<Division> _divisions;
    private IEnumerable<Gender> _genders;
    private bool _isErrorHidden = true;
    private string _errorText;
    private int _divisionId;

    public int DivisionId
    {
        get => _divisionId;
        set
        {
            _divisionId = value;
            _employee.DivisionId = value;
            _storageService.SetItem("currentDivision", value);
            SaveEmployee();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _genders = Program.AppData.Genders;
        var firstGender = _genders.First();
        if (Program.AppData.CurrentEmployee == null)
        {
            _employee = _storageService.GetItem<Employee>("currentEmployee");
        }
        else
        {
            _employee = _stateMachine.CurrentState == StateMachine.State.Add
                ? new Employee { DateOfBirth = DateTime.Now - TimeSpan.FromDays(365 * 18), DivisionId = Program.AppData.CurrentDivision.Id, GenderId = firstGender.Id }
                : Program.AppData.CurrentEmployee;
             _storageService.SetItem("currentEmployee", _employee);
        }
        DivisionId = _employee.DivisionId;
        _divisions = Program.AppData.Divisions;
    }

    private async Task Apply()
    {
        if (string.IsNullOrWhiteSpace(_employee.FirstName) ||
            string.IsNullOrWhiteSpace(_employee.LastName) ||
            string.IsNullOrWhiteSpace(_employee.MiddleName))
        {
            _errorText = "Все поля должны быть заполнены!";
            _isErrorHidden = false;
            return;
        }

        Debug.WriteLine(_employee.DateOfBirth.Year);
        if (_employee.DateOfBirth > DateTime.Now - TimeSpan.FromDays(365 * 18))
        {
            _errorText = "Работнику должно быть не меньше 18 лет";
            _isErrorHidden = false;
            return;
        }

        _isErrorHidden = true;

        _employee.Division = null;
        _employee.Gender = null;

        var response = _stateMachine.CurrentState is StateMachine.State.Change
        ? await PutEmployeeAsync()
        : await PostEmployeeAsync();

        if (!response.IsSuccessStatusCode)
        {
            Debug.WriteLine(await response.Content.ReadAsStringAsync());
            return;
        }

        _navigationManager.NavigateTo($"employees/{_divisionId}");
    }

    private async Task<HttpResponseMessage> PostEmployeeAsync()
    {
        var response = await _http.PostAsJsonAsync("employees", _employee);
        return response;
    }

    private async Task<HttpResponseMessage> PutEmployeeAsync()
    {
        var response = await _http.PutAsJsonAsync("employees/change", _employee);
        return response;
    }

    private void SaveEmployee()
    {
        _storageService.SetItem("currentEmployee", _employee);
    }

}